// import the amalgamation of all the bootstrap config only by import bootstrap.scss

// Check the variables you want to update and declare it before the import

$primary: rgba(21, 128, 0, 0.774);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$font-family-base: 'Arial, sans-serif';
$font-family-sans-serif: 'Helvetica, Arial, sans-serif';
$font-family-monospace: 'Courier New, monospace';

$custom-theme-color: (
    "bgBody": #fffed5,
    "fontBody": #333,
    "bgHeader": #10133E,
    "fontHeader": #fdfdfd,
    "secondaryCol": #242267 // "fontBody": #fcfcfc,
    // "bgHeader": #781511,
    // "secondaryCol": #db3107,
);

$theme-colors: map-merge($custom-theme-color, $theme-colors);

$primary: map-get($custom-theme-color, "bgHeader");

// Source mixin
@mixin make-container($padding-x: 5px) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: 5px;
    margin-left: 5px;
}

// Usage
.custom-container {
    @include make-container();
}

/******************* CONTENT STYLING *********************/
body {
    font-family: $font-family-sans-serif;
    font-weight: 500;
    background-color: map-get($custom-theme-color, "bgBody");
    color: fontBody;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.hidden {
    display: none;
}

article .mytitle {
    font-size: 2rem;
    font-weight: 600;
    color: map-get($custom-theme-color, "bgHeader");
    text-align: center;
}

.scroll-section {
    margin-top: 5px;
}

.scroll-section:target {
    scroll-margin-top: 60px;
    /* Offset height of the fixed navbar */
}

article {
    border-bottom: 5px solid map-get($custom-theme-color, "bgHeader");
}

article::before {
    display: block;
    content: "";
}

/* HEADER STYLE*/
header {
    border-radius: black 5px solid;
    position: sticky;
    z-index: 50;
    top: 0;
    background-color: map-get($custom-theme-color, "bgHeader");
    color: map-get($custom-theme-color, "fontHeader");
}

.hire {
    font-size: 1.5rem;
}


/******* MAIN STYLE ******/

/* TOP CONTAINER SECTION */
figure {
    text-align: center;
}

figure img {
    padding: 5px;
    width: 80%;
    height: auto;
    border: 5px solid map-get($custom-theme-color, "bgHeader");
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
}

.message {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    padding: 5px;
}

.message p {
    text-align: justify;
    padding: 5px;
}

.wave {
    font-size: 1.5rem;
    text-align: center;
}

.name {
    font-size: 2rem;
    font-weight: bolder;
    color: map-get($custom-theme-color, "secondaryCol");
}

.resume {
    /* position: absolute;
    top: -60%;
    right: 5%; */
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 2rem;
    margin-left: 2rem;
    transition: transform .5s;
}

.resume:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: map-get($custom-theme-color, "secondaryCol");
}

/*********** BOTTOM CONTAINER SECTION **************/
/********  BIBLIOGRAPY SECTION ********/

.subheading {
    font-size: 1.5rem;
    color: map-get($custom-theme-color, "fontBody");
    font-weight: 700;
    white-space: nowrap;
    border-bottom: 3px solid map-get($custom-theme-color, "bgHeader");
}

.columns {
    margin: 10px;
    columns: 2 300px;
    padding-left: 10px;
    margin-top: 0;
    column-rule: 3px solid map-get($custom-theme-color, "bgHeader");
}

.columns li {
    list-style-type: none;
}

.columns section {
    break-inside: avoid;
    // break-before: column;
}

.education,
.experience,
.certifications,
.publications {
    line-height: 2;
}

/******************** PORTFOLIO SECTION ************/
#portfolio {
    padding-bottom: 1rem;
}

.frame {
    /* flex: 1 1 200px; */
    width: 15rem;
    height: 250px;
    background-color: map-get($custom-theme-color, "secondaryCol");
    color: #fff;
    border: 5px solid map-get($custom-theme-color, "bgHeader");
    border-radius: 20%;
    display: flex;
    flex-flow: row wrap;
}

.preview {
    width: 80%;
    background-color: map-get($custom-theme-color, "secondaryCol");
    border: 1px solid map-get($custom-theme-color, "bgHeader");
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    position: relative;
}

.previewImg {
    width: 100%;
    height: 100%;
    border: inherit;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%
}

.previewTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: map-get($custom-theme-color, "secondaryCol");
    font-size: 2rem;
    font-weight: 600;
    font-family: inherit;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5),
        0 6px 20px rgba(0, 0, 0, 0.5);
    ;
}

.linker {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.loom,
.git,
.blog {
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: large;
    position: relative;
}

.loom i,
.git i,
.blog i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.loom:hover,
.git:hover,
.blog:hover {
    cursor: pointer;
    color: map-get($custom-theme-color, "fontBody");
    background-color: map-get($custom-theme-color, "fontHeader");
}

.loom .toolTipText,
.git .toolTipText,
.blog .toolTipText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: none;
}

.panel-tabs {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    justify-content: center;
}

.tab {
    background-color: map-get($custom-theme-color, "bgHeader");
    color: map-get($custom-theme-color, "fontHeader");
    font-size: .7rem;
    font-weight: 400;
    font-family: inherit;
    height: auto;
    width: fit-content;
    border-radius: 20%;
    padding: .5rem;
    margin: 1rem;
}

.tab:hover {
    transition: translateX(120);
    cursor: pointer;
    opacity: 0.7;
}

.kontainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.active-tab {
    background-color: map-get($custom-theme-color, "secondaryCol");
    color: map-get($custom-theme-color, "fontHeader");
}

/******************** BLOG SECTION ************/
#blog {
    padding-bottom: 1rem;
}


/********  SKILLSETS SECTION ********/
.tech {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    text-align: center;
    color: map-get($custom-theme-color, "fontBody");
    font-weight: bolder;
    font-size: larger;
    margin: 5px auto 5px;
}

.text-box span {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 0.8rem;
}

.tech-rack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

.tech span {
    color: #000;
}

.tech-rack i {
    font-size: 2rem;
}

.tech1 {
    grid-area: 1 / 1 / 2 / 2;
}

.tech2 {
    grid-area: 1 / 2 / 2 / 3;
}

.tech3 {
    grid-area: 1 / 3 / 2 / 4;
}

.tech4 {
    grid-area: 2 / 1 / 3 / 2;
}

.tech5 {
    grid-area: 2 / 2 / 3 / 3;
}

.tech6 {
    grid-area: 2 / 3 / 3 / 4;
}

.tech7 {
    grid-area: 3 / 1 / 4 / 2;
}

.tech8 {
    grid-area: 3 / 2 / 4 / 3;
}

.tech9 {
    grid-area: 3 / 3 / 4 / 4;
}

.tech10 {
    grid-area: 1 / 4 / 2 / 5;
}

.tech11 {
    grid-area: 2 / 4 / 3 / 5;
}

.tech12 {
    grid-area: 3 / 4 / 4 / 5;
}

.implementation {
    text-align: justify;
}

/******************** REVIEW SECTION ************/
.reviewFrame {
    columns: 3 250px;
    break-before: column;
    color: #fff;
    /* border: 5px solid map-get($custom-theme-color, "bgHeader"); */
    border-radius: 20%;

}

.reviewFrame li {
    list-style-type: none;
}

.review {
    font-style: italic;
    font-weight: 600;
    color: map-get($custom-theme-color, "fontBody");
    margin-bottom: 5px;
    text-align: justify;
}

.img-l {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: map-get($custom-theme-color, "bgHeader") 2px solid;
    margin-right: 5px;
}

.img-r {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: map-get($custom-theme-color, "bgHeader") 2px solid;
    margin-left: 5px;
}

/**************** FOOTER STYLE **********************/
footer {
    position: sticky;
    bottom: 0;
    background-color: map-get($custom-theme-color, "bgHeader");
    color: map-get($custom-theme-color, "fontHeader");
    font-size: 24px;
    text-align: center;
    z-index: 50;
}

@import '../node_modules/bootstrap/scss/bootstrap';
